<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
<div layout:fragment="content">
    <div class="board-container">
        <div class="row mt-3">
            <div class="col">

                <h1>문의사항</h1>
                <div class="card">
                    <div class="card-body">

                        <table class="table board-table">
                            <thead>
                            <tr>
                                <th scope="col">번호</th>
                                <th scope="col">제목</th>
                                <th scope="col">작성자</th>
                                <th scope="col">작성일</th>
                                <th scope="col">조회 수</th>
                            </tr>
                            </thead>


                            <tbody th:with="link=${pageRequestDTO.getLink()}"
                                   th:each="dto : ${responseDTO1.dtoList}">
                            <tr class="table-body">
                                <td th:text="${dto.bno}"></td>

                                <td>
                                    <a th:href="@{/board/userRead(bno=${dto.bno})}"
                                       style="text-decoration: none; color: inherit;">



                                    <span th:if="${dto.category != null}" style="color:#009879; font-weight:bold">
                                        [[${'[' + dto.category + ']'}]] </span>
                                        [[${dto.title}]]
                                    </a>
                          <!--          <span class="card-reply">
                                    [[${dto.replyCount}]]
                                </span>-->
                                </td>

                                <td>[[${dto.writer}]]</td>
                                <td>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]]</td>
                                <td th:text="${dto.viewCount}"></td>
                            </tr>
                            </tbody>
                        </table>


                        <form action="/board/userList" method="get">
                            <div class="col">
                                <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                                <div class="input-group">
                                    <div class="board-list-group">
                                        <select class="form-control" name="type">
                                            <option class="form-control" value="">----</option>
                                            <option value="t" th:selected="${pageRequestDTO.type=='t'}">제목</option>
                                            <option value="c" th:selected="${pageRequestDTO.type=='c'}">내용</option>
                                            <option value="w" th:selected="${pageRequestDTO.type=='w'}">작성자</option>

                                        </select>
                                        <input type="text" class="form-control" name="keyword"
                                               th:value="${pageRequestDTO.keyword}">

                                        <button class="btn btn-submit" type="submit">검색하기</button>
                                        <button class="btn btn-submit" type="button">키워드 삭제</button>

                                        <a href="/board/userRegister">
                                            <button type="button" class="btn-write">글쓰기</button> </a>


                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="pagination-area">
                            <ul class="pagination flex-wrap">

                                <li class="page-item" th:classappend="${!responseDTO1.prev} ? 'disabled'">
                                    <a href="javascript:void(0)" class="page-link"
                                       th:onclick="'movePage(' + ${responseDTO1.page - 1} + ')'"> < </a>
                                </li>

                                <th:block th:each="i : ${#numbers.sequence(responseDTO1.start, responseDTO1.end)}">
                                    <!--                                <li th:class="${responseDTO1.page == i} ? 'page-item active' : 'page-item'">-->
                                    <a href="javascript:void(0)" class="page-link"
                                       th:data-num="${i}" th:text="${i}"></a>
                                    <!-- </li>-->
                                </th:block>

                                <!-- 다음 버튼 -->
                                <li class="page-item" th:classappend="${!responseDTO1.next} ? 'disabled'">
                                    <a href="javascript:void(0)" class="page-link"
                                       th:onclick="'movePage(' + ${responseDTO1.page + 1} + ')'"> > </a>
                                </li>
                            </ul>
                        </div>



                    </div>
                </div>
            </div>




            <script layout:fragment="script" th:inline="javascript">
                console.log("스크립트 로딩...");

                // 페이지 이동 함수
                function movePage(pageNum) {
                    console.log("페이지 이동:", pageNum);

                    // 현재 URL 파라미터 가져오기
                    const urlParams = new URLSearchParams(window.location.search);

                    // page 파라미터 설정
                    urlParams.set('page', pageNum);

                    // 페이지 이동
                    window.location.href = window.location.pathname + '?' + urlParams.toString();
                }

                // 페이지 번호 클릭 이벤트 (추가 안전장치)
                document.addEventListener('DOMContentLoaded', function () {
                    const pageLinks = document.querySelectorAll('.page-link[data-num]');
                    pageLinks.forEach(function (link) {
                        link.addEventListener('click', function (e) {
                            e.preventDefault();
                            const pageNum = this.getAttribute('data-num');
                            if (pageNum) {
                                movePage(pageNum);
                            }
                        });
                    });
                });
            </script>


        </div>
    </div>
</html>